.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: 40vh;
  background-color: inherit;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-text {
  margin-left: 15px;
}

#musiciansOfBremen {
  background-color: red;
  border-radius: 50%;
  width: 19vh;
}

.castleIcon {
  fill: #fff;
}

.introScene {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}
/*
h1 {
  text-shadow: 3px 5px #000;
}*/
