<div>
  This is the preview story. Enjoy a portion of it for free
  <p class="storyText">
    {{currentPage.text}}
  </p>
  <video ng-src="{{videoUrl(currentPage.src)}}" controls autoplay="true" width="720" height="480"></video>
  <button ng-show="Introduction" ng-click="isItIntroduction()">Next Chapter</button>
  <h2>{{currentPage.currentQuestion}}</h2>
  <button ng-click="optionLeft()" ng-hide="Introduction">{{currentPage.buttonLeft}}</button>
  <button ng-click="optionRight()" ng-hide="Introduction">{{currentPage.buttonRight}}</button>
</div>
